@import '../../../css/colors/colors.css';

.form__login{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__title{
    font-size: 24px;
    font-weight: bold;
    color: var(--white-color);
}